
.logo {
	color:var(--gray);
    font-size:8rem;
    font-weight: bolder;
}

.logo i{
    color:var(--orange);
}

p{
	color:var(--gray);
    font-size:2.5rem;
    font-weight: normal;
	text-align: center;
	text-align: justify;
	margin:7rem;
	
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:white;
    background: var(--yellow); /****/
    border-radius: .5rem; 
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    letter-spacing: .1rem;
    color: var(--yellow);
    background: white;
}

img{
	width:300px;
	height: 300px;	
}

p{
	text-align:justify;
	text-align:center;
	
}