.wrapper {
		text-align: center;
}


.right{
	float: left;
}

img {
            float: left; 
            margin: 5px;
        }
p {
            text-align: justify;
            font-size: 18px;
            color:var(--light-color);
        }
		
h2{
            text-align: justify;
            font-size: 30px;
            color:#D68910;
        }
		
option {
	font-size: 25px;
}

.content {
 max-width: 800px;
  margin: auto;
}

.boxing {
  background-color: white;
  border-style: solid;
  border-color: #F1C40F;
  width: 800px;
  height: 230px;
  padding: 8px;
}

input[type=number]{
  border: 2px solid black;
  height: 30px;
  width: 100px;
}
table, th, td {
  border: 1px solid black;
    border-collapse: collapse;
	    border-style: solid;
  border-color: #F1C40F;
  text-align:center;
  font-size: 18px;
  color:var(--light-color);
}
table {
  width: 100%;
  height: 100%;
    border-style: solid;
  border-color: #F1C40F;
  text-align:center;
}